@import url ('https://fonts.google.com/specimen/Roboto?selection.family=Roboto');
			* {font-family: 'Roboto', sans-serif; color: black;}
			a {color: black;}
			a:hover{
				color: blue;
				text-decoration: none;
			}
			
			.content{
				text-align: center;
				margin-top: 100px;
				
			}